__pycache__/
*.pyc
cache/
db.sqlite3
json_auth_project/__pycache__/settings.cpython-314.pyc
json_auth_project/__pycache__/urls.cpython-314.pyc
authentication/__pycache__/models.cpython-314.pyc
db.sqlite3
